@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid h1 {
  color: aqua;
  font-family: "Montserrat", sans-serif;
}

.navbar-nav .nav-item .nav-link {
  color: aqua;
}

.navbar-nav .nav-item .nav-link:hover {
  color: red;
}

.bg-fullblack {
  background-color: black;
}

body {
  background-color: aqua;
}

.footer-link{
  color:aqua;
}

.footer-link:hover{
  color:red;
}

#footer-h3{
  color:aqua;
}

.head{
  background-color: black;
  border-radius: 5px;
  margin-top: -40px;
}

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.checkbox-margin{
  margin-right: 20px;
}