@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:wght@500&display=swap");

.container-fluid h1 {
  color: aqua;
  font-family: "Montserrat", sans-serif;
}

.navbar-nav .nav-item .nav-link {
  color: aqua;
}

.navbar-nav .nav-item .nav-link:hover {
  color: red;
}

.bg-fullblack {
  background-color: black;
}

body {
  background-color: aqua;
}

.footer-link{
  color:aqua;
}

.footer-link:hover{
  color:red;
}

#footer-h3{
  color:aqua;
}

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

a{
  text-decoration: none;
}

.card-title{
  color:red;
}

h2{
  color:red;
}

.card{
  background-color: black;
}

.bölümler{
  background-color: aqua;
}